# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea
build
out
application-real-oauth.properties
application-oauth.properties
application-test-properties
application-real-db.properties

#테스트 ...